<footer>
    <div class="container">
        <div>
            <h4>wonderland company</h4>
            <div>
                <a href="#">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Careers</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Contact</a>
            </div>
            <br>
            <h4>Legal</h4>
            <div>
                <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Terms of Service</a>
            </div>
        </div>
        <br>
        <div>
            <h4>Stay in touch</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                <a href="#"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div>
            <p>&copy; 2023 Your Company Name</p>
        </div>
    </div>
</footer>