<% layout('./layout/boilerplate') -%>

    <head>
        <title>Error</title>
    </head>

    <body>
        <div class="alert alert-danger" role="alert">
            <h3>
                <%= message %>
            </h3>
            <h4>
                <%=err%>
            </h4>
        </div>
    </body>