<% layout('./layout/boilerplate') -%>

    <head>
        <title>Login page</title>
    </head>

    <body>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Login page</h1><br>
                <form action="/login" method="post">
                    <div>
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="password" class="form-label">password:</label>
                        <input type="password" id="password" class="form-control" name="password" required>
                        <div class="invalid-feedback">
                            Please choose a password.
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="Login">
                </form>
            </div>
        </div>
        <br>
    </body>